[submodule "Day34-quote-Board/quoteboard"]
	path = Day34-quote-Board/quoteboard
	url = https://github.com/vindhya-14/QuoteBoard
[submodule "Day39-Learnify/ai-learning-hub"]
	path = Day39-Learnify/ai-learning-hub
	url = https://github.com/vindhya-14/Learnify.git
